<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MiniApp</title>
    <link rel="stylesheet" href="article.css">
  </head>
  <body>
    <div class="blue">
      <div class="nav-wrapper ">
        <div class="logo">mini app</div>
        <ul class="sign">
            <li><a href="/users/sign_in" class="Sing_In">Sing In</a></li>
            <li><a href="/users/sign_up" class="Sing_Up">Sing Up</a></li>
        </ul>
      </div>
    </div>
    <div class="article">
  </div>
</div>
</div>
</body>